numpy
pandas
scikit-learn
matplotlib
tqdm
opencv-python
speedtest-cli
regex
ftfy
einops
fvcore
eva-decord==0.6.1
iopath
matplotlib
types-regex
pre-commit
faiss-cpu
fairscale
fire
sentencepiece
transformers
accelerate
timm==0.6.7
clip
python-dotenv
